/* CSS Document */
/* 隐藏 */
.hide { display: none; }
/* 各种快捷class	*/

.fl { float: left; }
.fr { float: right; }
.il { display: inline; }
.clear { clear: both; }
/* top-menu*/

.top-menu-row { height: 34px; background: rgb(51,51,51); line-height: 34px; color: #aaa; }
.top-menu { height: 34px; overflow: hidden; }
.top-menu ul { margin: 0; padding: 0; list-style: none; text-align: right; }
.top-menu li { display: inline; }
.top-menu .first { color: rgb(239,239,239); }
.top-menu a { padding: 0 10px 0 11px; border-left: 1px solid #83895c; text-decoration: none; color: rgb(187,187,187); }
.top-menu a:hover { color: #eee;/*#eee;*/ }
.first a { border: none; }
/* logo */
/*	header	*/
.m23-topbar-wrap { height: 26px; min-width: 960px; }
.m23-topbar { font-size: 12px; font-family: "Microsoft Yahei"; background-color: rgb(51, 51, 51); color: rgb(187, 187, 187); height: 26px; line-height: 24px; position: relative; z-index: 302; width: 100%; left: 0px; text-align: left !important; }
.m23-topbar .inner { margin: 0px auto; width: 960px; }
.m23-topbar .inner { margin: 0px auto; width: 960px !important; }
.m23-topbar .inner-left { float: left; }
.m23-topbar .inner-right { float: right; }
.m23-topbar .inner-left a { }
.m23-topbar a { color: rgb(187, 187, 187); }
.m23-topbar i { display: inline-block; width: 1px; height: 12px; background: none repeat scroll 0% 0% rgb(102, 102, 102); margin: 0px 10px; vertical-align: middle; }
.m23-topbar .site_menu { display: inline-block; position: relative; z-index: 2; }
.m23-topbar .site_menu a.menu-hd { width: 62px; position: relative; display: inline-block; }
.m23-topbar .site_menu .menu-bd { background-color: rgb(255, 255, 255); border: 1px solid rgb(153, 153, 153); color: rgb(102, 102, 102); display: none; position: absolute; top: 20px; left: -22px; width: 68px; font-size: 12px; padding: 10px 16px; }
.m23-topbar .site_menu .menu-bd li { height: 25px; line-height: 25px; }
.m23-topbar .site_menu .menu-bd li a { color: rgb(102, 102, 102); }
.m23-topbar .inner-left a.login-uname, .aysw-topbar-uname { color: rgb(255, 102, 0) !important; }
.m23-topbar a:hover { color: rgb(255, 255, 255); text-decoration: none; }
/*
	header
*/
.header { height: 64px; background-color: rgb(243, 243, 243); position: relative; z-index: 3; box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2); }
.header .header-wrap { position: relative; z-index: 301; width: 100%; }
.header .logo { background: url(http://m2three.u.qiniudn.com/logo.png) no-repeat scroll left center transparent; width: 199px; text-indent: -10000px; height: 40px; float: left; margin-top: 13px; }
.layout-inner, header .header-inner { width: 960px !important; margin: 0px auto; }
.header .header-inner { width: 940px; margin: 0 auto; }
.header .sub-logo { display: block; width: 140px; margin-top: 22px; text-decoration: none; overflow: hidden; color: rgb(153, 153, 153); float: left; text-align: left; }
.search-wrod { padding: 10px; font-size: 14px; border: 2px solid rgb(0, 146, 223); margin-top: 15px; width: 398px; margin-left: -65px; }
#search_sug { z-index: 999999;position:relative; }
.ac_results { background: none repeat scroll 0% 0% rgb(255, 255, 255); border-right: 1px solid rgb(238, 238, 238); border-width: 0px 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(238, 238, 238) rgb(238, 238, 238); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; display: none; position: absolute; width: 412px; z-index: 99999999999999; }
.ac_results li { cursor: pointer; color: rgb(102, 102, 102); padding: 4px 10px; }
.ac_results li:hover { background: none repeat scroll 0% 0% rgb(245, 245, 245);z-index:999999; }
/*
/*顶部导航*/

#nav { width: 1002px; margin-top: 5px; margin-bottom: 5px; background: none repeat scroll 0% 0% rgb(0, 146, 223); height: 44px; border-top: 1px solid rgb(229, 229, 229); border-bottom: 1px solid rgb(229, 229, 229); overflow: hidden; font-family: "Microsoft Yahei"; }
#nav li { display: inline; cursor: pointer; }
#nav li { float: left; padding-right: 1px; height: 46px; width: 87px; line-height: 44px; background: url("../../static/image/common/nv_a.png") no-repeat scroll 100% 0px transparent; font-weight: 700; font-size: 14px; }
#nav li a { font-family: "Microsoft Yahei"; padding: 0px 5px; height: 44px; width: 87px; display: block; line-height: 23px; margin-right: 1px; font-size: 12px; overflow: hidden; color: rgb(51, 51, 51);width:77px; }
#nav em { background: url(http://m2three.u.qiniudn.com/menu_line.gif) no-repeat transparent; float: left; width: 1px; height: 46px; }
#nav a.home { background: url(http://m2three.u.qiniudn.com/menu1.gif) no-repeat transparent; }
#nav a.home:hover { background: url(http://m2three.u.qiniudn.com/menu1_on.gif) no-repeat transparent; }
#nav .gallery { background: url(http://m2three.u.qiniudn.com/menu2.gif) no-repeat transparent; }
#nav .gallery:hover { background: url(http://m2three.u.qiniudn.com/menu2_on.gif) no-repeat transparent; }
#nav .job { background: url(http://m2three.u.qiniudn.com/menu3.gif) no-repeat transparent; }
#nav .job:hover { background: url(http://m2three.u.qiniudn.com/menu3_on.gif) no-repeat transparent; }
#nav .community { background: url(http://m2three.u.qiniudn.com/menu4.gif) no-repeat transparent; }
#nav .community:hover { background: url(http://m2three.u.qiniudn.com/menu4_on.gif) no-repeat transparent; }
#nav ul li a.on { color: rgb(0, 85, 170); font-weight: 700; }
/*#nav li a:hover{background: none repeat scroll 0% 0% rgb(45, 123, 195);
color: rgb(255, 255, 255);
text-decoration: none;}*/
#top-pic { width: 1000px; height: 250px; }
#top-pic-ad { width: 300px; height: 250px; margin-right: 5px; float: left; }
#top-pic-ad img { width: 230px; padding: 4px; height: 240px; border: 1px solid #dedede; }
#top-pic-gallery { width: 600px; height: 260px; }
/*

	top-pic

*/
#slideshow { POSITION: relative; HEIGHT: 210px }
#slideshow DIV { Z-INDEX: 8; POSITION: absolute; BACKGROUND-COLOR: #fff; HEIGHT: 210px; TOP: 0px; LEFT: 0px; opacity: 0.0 }
#slideshow DIV.active { Z-INDEX: 10; opacity: 1.0 }
#slideshow DIV.last-active { Z-INDEX: 9 }
#slideshow DIV IMG { BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; DISPLAY: block; MARGIN-BOTTOM: 0px; HEIGHT: 210px; BORDER-TOP: 0px; BORDER-RIGHT: 0px }
.sliderkit-nav-clip li { background: #F60; }
.sliderkit-nav-clip .sliderkit-selected { background: #B60; }
/*End*/
.sliderkit { POSITION: relative; TEXT-ALIGN: left; DISPLAY: none; OVERFLOW: hidden }
.sliderkit A { TEXT-DECORATION: none }
.sliderkit A:hover { TEXT-DECORATION: none }
.sliderkit A:focus { OUTLINE-STYLE: dotted; OUTLINE-COLOR: #000; OUTLINE-WIDTH: 1px }
.sliderkit IMG { BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px }
.sliderkit .sliderkit-nav { Z-INDEX: 10; POSITION: absolute; TEXT-ALIGN: center }
.sliderkit .sliderkit-nav-clip { POSITION: relative; OVERFLOW: hidden }
.sliderkit .sliderkit-nav-clip UL { POSITION: relative; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; TOP: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px; LEFT: 0px }
.sliderkit .sliderkit-nav-clip UL LI { FLOAT: left }
.sliderkit .sliderkit-nav-clip UL LI A { DISPLAY: block; OVERFLOW: hidden }
.sliderkit .sliderkit-btn { Z-INDEX: 10 }
.sliderkit .sliderkit-panel { Z-INDEX: 1; POSITION: absolute; OVERFLOW: hidden }
.sliderkit .sliderkit-panel-active { Z-INDEX: 5 }
.sliderkit .sliderkit-panel-old { Z-INDEX: 4 }
.sliderkit .sliderkit-panel .sliderkit-panel-textbox { Z-INDEX: 1; POSITION: absolute }
.sliderkit .sliderkit-panel .sliderkit-panel-text { Z-INDEX: 3; POSITION: absolute; TOP: 0px; LEFT: 0px }
.sliderkit .sliderkit-panel .sliderkit-panel-overlay { Z-INDEX: 2; POSITION: absolute; TOP: 0px; LEFT: 0px }
.photoslider-bullets { WIDTH: 500px; HEIGHT: 249px; border: 1px solid rgb(235,235,235) }
.photoslider-bullets .sliderkit-nav { POSITION: absolute; BOTTOM: 18px; RIGHT: 25px }
.photoslider-bullets .sliderkit-nav-clip UL LI { background: transparent; MARGIN: 0px 7px 0px 0px; FLOAT: left; }
.photoslider-bullets .sliderkit-nav-clip UL LI A { float: left; width: 10px; height: 10px; text-indent: -999em; overflow: hidden; margin-right: 10px; border: 1px solid rgb(102, 102, 102); cursor: pointer; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.photoslider-bullets .sliderkit-nav-clip UL LI A:hover { background: none repeat scroll 0% 0% rgb(255, 204, 0); }
.photoslider-bullets .sliderkit-nav-clip UL LI.sliderkit-selected A { background: none repeat scroll 0% 0% rgb(255, 102, 0); }
/********************************************/
/*		*/
#m2three_notice { height: 30px; border: 1px solid #dedede; background: rgb(225, 225, 225); }
#m2three_notice span { float: left; margin-top: 5px; margin-left: 10px; }
/*		*/
#foot_bm a, #foot_bm, p, p a { color: #666; }
/*****************************************/
/* footer-menu	*/
#footer_menu { height: auto; }
#footer_menu_wrap { float: left; width: 159px; height: 100%; border-right: 1px solid rgb(232, 232, 232); }
#footer_menu_wrap ul { margin-left: 20px; margin-top: 15px; }
#footer_menu_wrap li { font-size: 11px; letter-spacing: -1px; font-weight: bold; margin-bottom: 8px }
/*	footer	*/
#footer { margin-top: 10px; width: 1000px; height: 200px; border-width: 3px 1px 1px; border-style: solid; border-color: rgb(118, 121, 128) rgb(216, 216, 216) rgb(216, 216, 216); background: rgb(239,239,239); }
#copyright { margin: 20px 0px; text-align: center; width: 100%; float: left; }
#copyright li { display: inline; font-size: 11px; letter-spacing: -1px; background: url("../images/bg_line_gray.gif") no-repeat scroll right -1px transparent; padding: 0px 8px 0px 2px; }
/*

	分页 css

*/

ul.pagenav { font-size: 12px; font-weight: bold; list-style: none; margin: 0px; padding: 0px; }
.pagenav li { list-style: none; background-color: #fff; margin: 0px; display: block; float: left; margin-left: 2px; margin-right: 2px; }
.pagenav li.disabled { border: 1px solid #DDDDDD; padding: 2px 6px 2px 6px; color: #ccc; }
.pagenav li.current { border: 1px solid #2E6AB1; padding: 2px 6px 2px 6px; background-color: #2E6AB1; color: #fff; }
.pagenav li.none { border: 1px none; padding: 2px 6px 2px 6px; }
.pagenav li a { border: 1px solid #9AAFE5; padding: 2px 6px 2px 6px; display: block; text-decoration: none; color: #105CB6; }
.pagenav li a:hover { border: 1px solid #2E6AB1; color: #000; }
/*
	
	list tab 栏目

*/
.wp_sidebar { background: fff; width: 230px; margin: 30px auto; text-align: left; }
.mo_wp { background: #F7F7F7; margin-bottom: 4px;/*border:1px solid #dfdfdf;*/ }
.mo_title { clear: both; color: #000; padding: 6px 8px 6px 12px; cursor: pointer; }
.btn_all_tiny_img { background-image: url(../images/all_toolbar_tiny.gif); background-repeat: no-repeat; }
.mo_title_l { display: block; margin-right: 12px; width: auto; }
.mo_title_l .mail { padding-left: 17px; width: 20px; background: url(../images/all_toolbar_tiny.gif) no-repeat; background-position: -65px 0px; padding-top: 1px; }
.mo_title_l .space { padding-left: 17px; width: 20px; background: url(../images/153.gif) no-repeat; background-position: 0px 0px; padding-top: 1px; }
.mo_title_r1, .mo_title_r2 { display: block; float: right; margin-left: -12px; height: 12px; width: 12px; background-position: 0px 0px; }
.mo_title_r2 { background-position: -16px 0px; }
.tbl_inner_title, .mo_title { background-repeat: repeat-x; background-image: url(../images/rx_2.gif); background-position: 0 bottom; background-color: #fafafa; }
.mo_con { clear: both; padding: 8px 12px; color: #CC3300; }
.mo_con li { height: 28px; position: relative; overflow: hidden; }
.mo_con ul li ul { padding-left: 20px; }
.ui_sup_box { display: block; width: 30px; position: absolute; right: 9px; top: 7px; height: 15px; overflow: hidden; text-align: right; }
.ui_count { background-color: rgb(254, 102, 0); color: rgb(255, 255, 255); padding: 1px 0px; font-style: normal; font-weight: bold; font-family: Tahoma; font-size: 12px; line-height: 12px; height: 13px; display: inline-block; }
.ui_count b { background-color: rgb(254, 102, 0); margin: 0px -1px; display: inline-block; height: 13px; padding: 0px 3px; left: -1px; }
.mo_con .ui_inner { display: block; height: 12px; position: relative; transition: top 0.3s ease 0s; }
.mo_con a { color: rgb(68, 68, 68); font-weight: bold; }
.mo_con li a { display: block; height: 16px; padding: 6px 6px; }
.mo_con a:hover { background-color: rgb(218, 218, 218); text-decoration: none; }
.mo_con .ui_icon { float: left; padding: 5px; }
/*

	버튼 스따오일 ~ 라라라
	
*/
.gbtn { position: relative; display: inline-block; width: auto; margin: 0; padding: 0; line-height: 1; border: 0; overflow: visible; cursor: pointer; vertical-align: top; white-space: nowrap; font-family: 'Arial', 'Tahoma', 'Dotum', 'AppleGothic', 'sans-serif'; background-repeat: no-repeat; background-color: transparent }
.gbtn:hover { text-decoration: none }
.gbtn span { position: relative; display: inline-block }
input.gbtn { text-indent: -9999em }
span.gbtn { cursor: default }
.btv-co { background: -moz-linear-gradient(center top, rgb(255, 113, 20) 0px, rgb(244, 97, 0) 100%) repeat scroll 0% 0% transparent; }
.btd-m2 { height: 24px; }
.btd-ml { color: rgb(255, 255, 255); font-size: 12px; border-radius: 3px 3px 3px 3px; }
.ty2 a { margin: 14px 0px 0px 1px; }
/*
	
	tb_header

*/
.tb_header { width: 100%; line-height: 30px; text-align: center; margin-top: 10px; }
.tb_header ul { height: 33px; width: 100%; }
.tb_header li { display: inline; background: url(../images/list_back.gif) repeat-x; height: 33px; float: left; }
.tb_header .list_left { background: url(../images/list_left.gif) repeat-x; }
.tb_header .list_right { background: url(../images/list_right.gif) repeat-x; }
.tb_list_wrap { width: 99%; border: 1px solid #dedede; text-align: center; margin-left: 2px; }
.tb_list_wrap .tb_list_con { width: 100%; }
.tb_list_wrap td { vertical-align: middle; }
.tb_list_wrap .tb_list_con .list_item_date { font-family: 'Tahoma', 'gulim'; font-size: 11px; }
form input.TEXT_HAN:focus { /*border: 1px solid rgb(0,146,223);*/ outline: medium none; }
form input.TEXT_HAN { height: 16px; padding: 2px 0px 2px 4px; border: 1px solid rgb(190, 190, 190); font-size: 12px; color: rgb(51, 51, 51); line-height: 16px; }
form input.TEXT:focus { /*border: 1px solid rgb(0,146,223);*/ outline: medium none; }
form input.TEXT { font-size: 16px; padding: 3px;/* border: 1px solid rgb(109,205,255); */ }
form textarea.TEXT:focus { /*border: 1px solid rgb(0,146,223);*/ outline: medium none; }
form textarea.TEXT { font-size: 16px; padding: 3px;/* border: 1px solid rgb(109,205,255);*/ }
/**/
.btn { display: inline-block; *display:inline;
*zoom:1;
padding: 6px 12px 4px; margin-bottom: 0; font-size: 12px; line-height: 20px; text-align: center; vertical-align: middle; cursor: pointer; border: 0; border-radius: 0; height: 30px; }
.btn:hover, .btn:focus { text-decoration: none }
.btn:focus { outline: thin dotted #333; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px }
.btn.active, .btn:active { outline: 0 }
.btn.disabled, .btn[disabled] { cursor: default; opacity: 0.65; filter: alpha(opacity=65) }
.btn-large { padding: 11px 19px; font-size: 15px }
.btn-large [class^="icon-"], .btn-large [class*=" icon-"] { margin-top: 4px }
.btn-mini { padding: 2px 10px; font-size: 12px }
.btn-mini [class^="icon-"], .btn-mini [class*=" icon-"] { margin-top: 4px }
.btn-block { display: block; width: 100%; padding-left: 0; padding-right: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box }
.btn-block + .btn-block { margin-top: 5px }
input[type="submit"].btn-block, input[type="reset"].btn-block, input[type="button"].btn-block { width: 100% }
.btn { color: #666; background-color: #eeeeee }
.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #dddddd; color: #444; }
.btn-primary { color: #ffffff; background-color: #428bca }
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { color: #ffffff; background-color: #357EBD }
.btn-warning { color: #ffffff; background-color: #f8a31f }
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] { color: #ffffff; background-color: #f88a2a }
.btn-danger { color: #ffffff; background-color: #d9534f }
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] { color: #ffffff; background-color: #e51400 }
.btn-success { color: #ffffff; background-color: #5cb85c }
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] { color: #ffffff; background-color: #4CAE4C }
.btn-info { color: #ffffff; background-color: #00aba9 }
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] { color: #ffffff; background-color: #007877 }
.btn-inverse { color: #ffffff; background-color: #484848 }
.btn-inverse:hover, .btn-inverse:focus, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] { color: #ffffff; background-color: #333333 }
button.btn, input[type="submit"].btn { *padding-top:3px;
*padding-bottom:3px;
}
button.btn::-moz-focus-inner, input[type="submit"].btn::-moz-focus-inner {
padding:0;
border:0
}
button.btn.btn-large, input[type="submit"].btn.btn-large { *padding-top:7px;
*padding-bottom:7px
}
button.btn.btn-small, input[type="submit"].btn.btn-small { *padding-top:3px;
*padding-bottom:3px
}
button.btn.btn-mini, input[type="submit"].btn.btn-mini { *padding-top:1px;
*padding-bottom:1px
}
.btn-group { position: relative; display: inline-block; *display:inline;
*zoom:1;
font-size: 0; vertical-align: middle; white-space: nowrap; *margin-left:.3em
}
.btn-group:first-child { *margin-left:0
}
.btn-group + .btn-group { margin-left: 5px }
.btn-toolbar { font-size: 0; margin-top: 10px; margin-bottom: 10px }
.btn-toolbar > .btn + .btn, .btn-toolbar > .btn-group + .btn, .btn-toolbar > .btn + .btn-group { margin-left: 5px }
.btn-group > .btn { position: relative; border-radius: 0 }
.btn-group > .btn + .btn { margin-left: 1px }
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover { font-size: 12px }
.btn-group > .btn-mini { font-size: 12px }
.btn-group > .btn-large { font-size: 15px }
.btn-group > .btn:first-child, .btn-group > .btn.large:first-child { margin-left: 0 }
.btn-group > .btn:hover, .btn-group > .btn:focus, .btn-group > .btn:active, .btn-group > .btn.active { z-index: 2 }
.btn-group .dropdown-toggle:active, .btn-group.open .dropdown-toggle { outline: 0 }
.btn-group > .btn + .dropdown-toggle { padding-left: 8px; padding-right: 8px; *padding-top:5px;
*padding-bottom:5px
}
.btn-group > .btn-mini + .dropdown-toggle { *padding-top:5px;
*padding-bottom:4px
}
.btn-group > .btn-large + .dropdown-toggle { padding-left: 12px; padding-right: 12px; *padding-top:7px;
*padding-bottom:7px
}
.btn-group.open .btn.dropdown-toggle { background-color: #DDDDDD }
.btn-group.open .btn-primary.dropdown-toggle { background-color: #357EBD }
.btn-group.open .btn-danger.dropdown-toggle { background-color: #E51400 }
.btn-group.open .btn-success.dropdown-toggle { background-color: #4CAE4C }
.btn-group.open .btn-inverse.dropdown-toggle { background-color: #333 }
.btn .caret { margin-top: 8px; margin-left: 0 }
.btn-large .caret { margin-top: 6px }
.btn-large .caret { border-left-width: 5px; border-right-width: 5px; border-top-width: 5px }
.btn-mini .caret, .btn-small .caret { margin-top: 8px }
.dropup .btn-large .caret { border-bottom-width: 5px }
.btn-primary .caret, .btn-warning .caret, .btn-danger .caret, .btn-info .caret, .btn-success .caret, .btn-inverse .caret { border-top-color: #ffffff; border-bottom-color: #ffffff }
.btn-group-vertical { display: inline-block; *display:inline;
*zoom:1
}
.btn-group-vertical > .btn { display: block; float: none; max-width: 100%; border-radius: 0 }
.btn-group-vertical > .btn + .btn { margin-left: 0; margin-top: 1px }
 [class^="icon-"], [class*=" icon-"] {
 display: inline-block;
 width: 14px;
 height: 14px;
 *margin-right: .3em;
 line-height: 14px;
 vertical-align: text-top;
 background-image: url("../images/glyphicons-halflings.png");
 background-position: 14px 14px;
 background-repeat: no-repeat;
 margin-top: 4px;
}
.icon-white { background-image: url("../images/glyphicons-halflings-white.png"); }
.icon12 { margin-top: 0px; }
.muted [class^="icon-"], .muted [class*=" icon-"] { opacity: 0.40; filter: alpha(opacity=40); }
.icon-glass { background-position: 0 0; }
.icon-music { background-position: -24px 0; }
.icon-search { background-position: -48px 0; }
.icon-envelope { background-position: -72px 0; }
.icon-heart { background-position: -96px 0; }
.icon-star { background-position: -120px 0; }
.icon-star-empty { background-position: -144px 0; }
.icon-user { background-position: -168px 0; }
.icon-film { background-position: -192px 0; }
.icon-th-large { background-position: -216px 0; }
.icon-th { background-position: -240px 0; }
.icon-th-list { background-position: -264px 0; }
.icon-ok { background-position: -288px 0; }
.icon-remove { background-position: -312px 0; }
.icon-zoom-in { background-position: -336px 0; }
.icon-zoom-out { background-position: -360px 0; }
.icon-off { background-position: -384px 0; }
.icon-signal { background-position: -408px 0; }
.icon-cog { background-position: -432px 0; }
.icon-trash { background-position: -456px 0; }
.icon-home { background-position: 0 -24px; }
.icon-file { background-position: -24px -24px; }
.icon-time { background-position: -48px -24px; }
.icon-road { background-position: -72px -24px; }
.icon-download-alt { background-position: -96px -24px; }
.icon-download { background-position: -120px -24px; }
.icon-upload { background-position: -144px -24px; }
.icon-inbox { background-position: -168px -24px; }
.icon-play-circle { background-position: -192px -24px; }
.icon-repeat { background-position: -216px -24px; }
.icon-refresh { background-position: -240px -24px; }
.icon-list-alt { background-position: -264px -24px; }
.icon-lock { background-position: -287px -24px; }
.icon-flag { background-position: -312px -24px; }
.icon-headphones { background-position: -336px -24px; }
.icon-volume-off { background-position: -360px -24px; }
.icon-volume-down { background-position: -384px -24px; }
.icon-volume-up { background-position: -408px -24px; }
.icon-qrcode { background-position: -432px -24px; }
.icon-barcode { background-position: -456px -24px; }
.icon-tag { background-position: 0 -48px; }
.icon-tags { background-position: -25px -48px; }
.icon-book { background-position: -48px -48px; }
.icon-bookmark { background-position: -72px -48px; }
.icon-print { background-position: -96px -48px; }
.icon-camera { background-position: -120px -48px; }
.icon-font { background-position: -144px -48px; }
.icon-bold { background-position: -167px -48px; }
.icon-italic { background-position: -192px -48px; }
.icon-text-height { background-position: -216px -48px; }
.icon-text-width { background-position: -240px -48px; }
.icon-align-left { background-position: -264px -48px; }
.icon-align-center { background-position: -288px -48px; }
.icon-align-right { background-position: -312px -48px; }
.icon-align-justify { background-position: -336px -48px; }
.icon-list { background-position: -360px -48px; }
.icon-indent-left { background-position: -384px -48px; }
.icon-indent-right { background-position: -408px -48px; }
.icon-facetime-video { background-position: -432px -48px; }
.icon-picture { background-position: -456px -48px; }
.icon-pencil { background-position: 0 -72px; }
.icon-map-marker { background-position: -24px -72px; }
.icon-adjust { background-position: -48px -72px; }
.icon-tint { background-position: -72px -72px; }
.icon-edit { background-position: -96px -72px; }
.icon-share { background-position: -120px -72px; }
.icon-check { background-position: -144px -72px; }
.icon-move { background-position: -168px -72px; }
.icon-step-backward { background-position: -192px -72px; }
.icon-fast-backward { background-position: -216px -72px; }
.icon-backward { background-position: -240px -72px; }
.icon-play { background-position: -264px -72px; }
.icon-pause { background-position: -288px -72px; }
.icon-stop { background-position: -312px -72px; }
.icon-forward { background-position: -336px -72px; }
.icon-fast-forward { background-position: -360px -72px; }
.icon-step-forward { background-position: -384px -72px; }
.icon-eject { background-position: -408px -72px; }
.icon-chevron-left { background-position: -432px -72px; }
.icon-chevron-right { background-position: -456px -72px; }
.icon-plus-sign { background-position: 0 -96px; }
.icon-minus-sign { background-position: -24px -96px; }
.icon-remove-sign { background-position: -48px -96px; }
.icon-ok-sign { background-position: -72px -96px; }
.icon-question-sign { background-position: -96px -96px; }
.icon-info-sign { background-position: -120px -96px; }
.icon-screenshot { background-position: -144px -96px; }
.icon-remove-circle { background-position: -168px -96px; }
.icon-ok-circle { background-position: -192px -96px; }
.icon-ban-circle { background-position: -216px -96px; }
.icon-arrow-left { background-position: -240px -96px; }
.icon-arrow-right { background-position: -264px -96px; }
.icon-arrow-up { background-position: -289px -96px; }
.icon-arrow-down { background-position: -312px -96px; }
.icon-share-alt { background-position: -336px -96px; }
.icon-resize-full { background-position: -360px -96px; }
.icon-resize-small { background-position: -384px -96px; }
.icon-plus { background-position: -408px -96px; }
.icon-minus { background-position: -433px -96px; }
a.cmt_ct { position: relative; display: inline-block; padding: 0px 10px; font-size: 12.152px; line-height: 14px; color: rgb(255, 255, 255); vertical-align: baseline; white-space: nowrap; background-color: rgb(217, 83, 79); top: -3px; margin-left: 5px; }
a.cmt_ct:hover { text-decoration: none; }
.label-arrow { top: 14px; border-right: 4px solid transparent; border-left: 4px solid transparent; border-top: 4px solid rgb(0, 0, 0); left: 3px; }
.label-arrow { position: absolute; width: 0px; height: 0px; vertical-align: top; content: ""; border-top-color: rgb(217, 83, 79); }
