/*成功，错误提示页面*/
.Prompt_top,.Prompt_btm,.Prompt_ok,.Prompt_x{}
.Prompt{width:400px;margin:200px auto;text-align:left;border:1px solid #ccc; color:#1b9103; z-index:999999; background:#fff;text-align:center;webkit-box-shadow:0 2px 5px 1px rgba(0,0,0,.1);-moz-box-shadow:0 2px 5px 1px rgba(0,0,0,.1);-khtml-box-shadow:0 2px 5px 1px rgba(0,0,0,.1);-ms-box-shadow:0 2px 5px 1px rgba(0,0,0,.1);box-shadow:0 2px 5px 1px rgba(0,0,0,.1);padding:15px}
.Prompt_top{background-position:0 0;height:15px;width:100%}
.Prompt_con{}
.Prompt_btm{background-position:0 -27px;height:6px;width:100%;overflow:hidden}
.Prompt_con dl{margin:0 30px;overflow:hidden}
.Prompt_con dt{font-size:18px;padding:15px 0;border-bottom:1px solid #EEEEEE;font-weight:bold;_height:20px}
.Prompt_con dd{float:left;display:block;padding:15px}
.Prompt_con dd h2{font-size:14px;line-height:30px}
.Prompt_ok{background-position:-72px -39px;width:68px;height:68px}
.Prompt_x{background-position:0 -39px;width:68px;height:68px}

.boxy-modal-blackout{position: absolute; background:-webkit-radial-gradient(center,rgba(0,0,0,0.3),rgba(0,0,0,1) 80%);background:-moz-radial-gradient(center,rgba(0,0,0,0.3),rgba(0,0,0,1) 80%);background:radial-gradient(center,rgba(0,0,0,0.3),rgba(0,0,0,1) 80%);opacity:.6;filter:alpha(opacity=40); left: 0; top: 0;}
.box-ver{color:#DD4B39}
.ico-error, .ico-ok{background:url(image/ico-tips.png) no-repeat 0 0;display:inline-block;_background:url(image/ico-tips.gif) no-repeat 0 0;}
.ico-error{background-position:-39px 0;width:24px;height:24px;margin:0 5px 0 0;vertical-align:middle}
.ico-ok{background-position:0 0;width:24px;height:24px;margin:0 5px 0 0;vertical-align:middle}

#page_config,#search_config,#search_form{display:none}

/*.comment {background-color:#F1F1F1;border:1px solid #F2F2F2;border-radius: 3px;color:#535353;font-size:12px;margin:10px 0 13px;padding:10px;line-height:22px;}*/
.comment .bgcolor_arrow{display:none;}
.comment .date{float:right;}